@import './mixins';
@import './vars';

button, a, .clickable {
    transition: opacity .15s;

    &:not(.opaque) {
        cursor: pointer;

        &:hover {
            opacity: .7;
        }

        &:active {
            opacity: .4;
        }
    }
}

.colored {
    @include colored();
}

h1, h2 {
    margin: 0;

    font-size: 4vw;
}

h1 {
    width: 40vw;

    font-family: $font-barlow;
    font-weight: bold;
    line-height: 4vw;
    text-transform: uppercase;
}

h2 {
    @include colored(box-shadow, 0 -38px inset);
}

h3 {
    font-size: 1.5vw;
    font-weight: bold;

    color: black;

    margin: 0;

    @include colored(box-shadow, 0 -16px inset);
}

hr {
    width: 30vw;
    height: 0.3vh;

    margin: 5vh 0 1vh 0;

    background-color: white;

    border: none;
}
hback {
    background-color: white;
}

hcontent {

    display : block;
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    font-size: 2vw;
    width: 70vw;

    background-color: white;
    color: $color-black;


}
