$color-blue: #00c2cb;
$color-red: #ff5757;
$color-yellow: #f7cd53;
$color-black: #2a2e30;

$font-sans: 'Open Sans', 'Arial', sans-serif;
$font-suez: 'Suez One', $font-sans;
$font-barlow: 'Barlow', $font-sans;

$nav-height: 70px;